<div id="wrapper">
    <span id="admin">
	    <button id="start" class="thoughtbot">Start</button>
	    <button id="stop" class="thoughtbot">Stop</button>
	    <button id="reset" class="thoughtbot">Reset</button>
	    <div id="current-player-edit">
			<div>
				<label for="current-player-input">Change Current Player</label>
	    		<input type="text" id="current-player-input">
	    	</div>
	    	<div>
	    		<label for="current-player-input">Reset Bid</label>
	    		<input type="number" id="reset-bid">
	    	</div>
	    </div>
		</span>

	<div>
    	<span id="current-player">
    </div>
	<div id="countdown"></div>

    <div id="bids">
    	<span id="top-bidder"></span>
    	<span id="current-bid"></span>
    </div>

	<div id="bid-history"></div>
</div>