<div id="wrapper">
	<div>
    	<span id="current-player">
    </div>
	<div id="countdown"></div>

    <div id="bids">
    	<span id="top-bidder"></span>
    	<span id="current-bid"></span>
    </div>
    <div id="bid-input">
	    <input type="number" id="bid-amount" value="0" />
	    <button id="bid" class="thoughtbot bid-button">Bid</button>
	    <button id="bid-plus-one" class="thoughtbot bid-button">+1</button>
	</div>

	<div id="bid-history"></div>
</div>